
@{
	ViewData["Title"] = "Produtos";
}

<script src="~/js/produtos.js"></script>

<div class="header">
	<h1>Produtos</h1>
	<button id="adicionarProduto" class="btn btn-primary right-button">Novo</button>
</div>

<div id="conteudo">

</div>

<input type="hidden" name="caminhoFisicoImagens" id="caminhoFisicoImagens" value="@(Html.ViewData["diretorioRootImagens"])" />

