
@{
	ViewData["Title"] = "Categorias";
}

<script src="~/js/categorias.js"></script>

<div class="header">
	<h1>Categorias</h1>
	<button id="adicionarCategoria" class="btn btn-primary right-button">Nova</button>
</div>

<div id="conteudo">
	
</div>

<input type="hidden" name="caminhoFisicoImagens" id="caminhoFisicoImagens" value="@(Html.ViewData["diretorioRootImagens"])" />

